<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Search Engine -->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="A multiplayer game where you capture territories and put an image on them. Collaborate with your community so that your image dominates the field!">
    <meta name="image" content="http://picswars.io/logo_full.png">

    <meta property="og:locale" content="en_US"/>
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="PicsWars.io">
    <meta itemprop="description" content="A multiplayer game where you capture territories and put an image on them. Collaborate with your community so that your image dominates the field!">
    <meta itemprop="image" content="http://picswars.io/logo_full.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="PicsWars.io">
    <meta name="twitter:description" content="A multiplayer game where you capture territories and put an image on them. Collaborate with your community so that your image dominates the field!">
    <meta name="twitter:site" content="@cbrwizard">
    <meta name="twitter:creator" content="@cbrwizard">
    <meta name="twitter:image:src" content="http://picswars.io/logo_full.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="PicsWars.io">
    <meta name="og:description" content="A multiplayer game where you capture territories and put an image on them. Collaborate with your community so that your image dominates the field!">
    <meta name="og:image" content="http://picswars.io/logo_full.png">
    <meta name="og:url" content="http://picswars.io/">
    <meta name="og:site_name" content="PicsWars.io">
    <meta name="og:type" content="website">

    <meta name="google-site-verification" content="wHN_zYqVSlr_nGT25OhF2a56mrvn5GyhYerU1Y_fp-U" />
    <meta name="yandex-verification" content="137c010c7589e38d" />

    <link rel="manifest" href="manifest.json">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en,Intl.~locale.ru,fetch"></script>
    <link rel="dns-prefetch" href="//ucarecdn.com">
  </head>
  <body>
    <div id="root" class="h-height-full"></div>
    <script>
      UPLOADCARE_LIVE = false
      UPLOADCARE_MANUAL_START = true
      UPLOADCARE_PUBLIC_KEY = '186797627d1bf1c46ddc'
      UPLOADCARE_LOCALE_TRANSLATIONS = {
        buttons: {
          cancel: 'Cancel upload',
          remove: 'Revert image',
        },
        // messages for widget
        errors: {
          'fileMinimalSize': 'File is too small',
          'fileMaximumSize': 'File is too large',
          'maxDimensions': 'This image exceeds max dimensions.',
          'maxWidth': 'This image exceeds max width.',
          'maxHeight': 'This image exceeds max height.'
        },
        // messages for dialog’s error page
        dialog: { tabs: { preview: { error: {
          'fileMaximumSize': {
            title: 'File size is too big',
            text: 'It should be less than 5mb',
            back: 'Upload another file'
          },
          'maxDimensions': {
            title: 'This image exceeds max dimensions.',
            text: 'It should be less than 5000x5000',
            back: 'Upload another file'
          },
          'maxWidth': {
            title: 'This image exceeds max width.',
            text: 'It should be less than 5000',
            back: 'Upload another file'
          },
          'maxHeight': {
            title: 'This image exceeds max height.',
            text: 'It should be less than 5000',
            back: 'Upload another file'
          }
        } } } }
      }
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter45892701 = new Ya.Metrika({
                        id:45892701,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-3356763371408318",
      enable_page_level_ads: true
    });
  </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/45892701" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </body>
</html>
